---
import { gamesRoutesConfig } from "@modules/games/config/games.routes.config";
import { categoryGameRoutesConfig } from "@modules/category-game/config/category-game.routes.config";
import { NarbarAuthLoginRegister } from "@modules/auth/components/NarbarAuthLoginRegister";
---

<div>
  <a href="/">Home</a>
  <a href={gamesRoutesConfig.base}>Games</a>
  <a href={categoryGameRoutesConfig.base}>Category Games</a>
  ---------------
  <NarbarAuthLoginRegister client:load />
</div>
