---
import Layout from "@layouts/Layout.astro";
import { ListCategoryGame } from "@modules/category-game/components/ListCategoryGame";
import BackButton from "@components/BackButton.astro"; 
---

<Layout>
  <main class="h-full flex-grow bg-gray-900 relative">
    <BackButton href="#"/>
    <ListCategoryGame client:load />
  </main>
</Layout>
