---
import Layout from "@layouts/Layout.astro";
import { LoginForm } from "@modules/auth/components/LoginForm";
---

<Layout title="Iniciar sesión">
  <main class="bg-white min-h-full flex-grow flex items-center justify-center p-4">
    <LoginForm client:load />
  </main>
</Layout>
