---
import Layout from "@layouts/Layout.astro";
import { RegisterForm } from "@modules/auth/components/RegisterForm";
---

<Layout title="Registro">
  <main class="min-h-full bg-white flex flex-col items-center justify-center flex-grow p-4">
    <RegisterForm client:load />
  </main>
</Layout>
