---
import Layout from "@layouts/Layout.astro";
import { RegisterForm } from "@modules/auth/components/RegisterForm";
---

<Layout title="Registro">
  <main class="min-h-screen bg-white flex flex-col items-center justify-center w-full p-5">
    <RegisterForm client:load />
  </main>
</Layout>