<head></head>
<meta charset=utf-8 />

<body>
  <script src=./debug.js is:inline></script>
  <script src=./utilities.js is:inline></script>
  <script src=./webgl.js is:inline></script>
  <script src=./draw.js is:inline></script>
  <script src=./scene.js is:inline></script>
  <script src=./track.js is:inline></script>
  <script src=./generative.js is:inline></script>
  <script src=./input.js is:inline></script>
  <script src=./audio.js is:inline></script>
  <script src=./sounds.js is:inline></script>
  <script src=./vehicle.js is:inline></script>
  <script src=./hud.js is:inline></script>
  <script src=./game.js is:inline></script>
</body>
