---
import Layout from "@layouts/Layout.astro";
import { SingleCategoryGame } from "@modules/category-game/components/SingleCategoryGame";

const { id } = Astro.params;
---

<Layout>
  <main class="min-h-full flex-grow bg-gray-200">
    <SingleCategoryGame client:load id={id as string} />
  </main>
</Layout>
