---
import Layout from "@layouts/Layout.astro";
import { ListCategoryGame } from "@modules/category-game/components/ListCategoryGame";
---

<Layout>
  <main class="h-full flex-grow bg-gray-200">
    <ListCategoryGame client:load />
  </main>
</Layout>
