---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
import {Navbar} from "@components/Navbar";
import { GlobalClientData } from "@services/globalClientData";
import { SaveAuthProvider } from "@modules/auth/providers/SaveAuthProvider";

const data = await GlobalClientData.getGlobalInfo();
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={data.site_icon} />
    <meta name="generator" content={Astro.generator} />
    <title>{data.site_name}</title>
    <ClientRouter />
  </head>
  <body class="min-h-screen flex flex-col">
    <SaveAuthProvider />
    <Navbar client:only="react" data-astro-persist="navbar" />
    <slot />
  </body>
</html>
