---
import Layout from "@layouts/Layout.astro";
import { Home } from "@modules/home/components/Home.tsx";
---

<Layout>
  <main class="flex-grow flex items-center justify-center bg-gray-900 text-white">
    <Home client:load/>
  </main>
</Layout>
