---
import Layout from '@layouts/Layout.astro';
import LinksMarketplacePages from "@modules/games/components/LinksMarketplacePages.astro";
---

<Layout>
	<h1 class="text-4xl font-bold">
		Welcome to <a href="https://astro.build/">Astro</a>
	</h1>
	<LinksMarketplacePages />
</Layout>
