---
import Layout from "@layouts/Layout.astro";
import { SingleGame } from "@modules/games/components/SingleGame";

const { id } = Astro.params;
---

<Layout>
  <main class="h-full flex-grow flex items-center justify-center bg-gray-900 text-white md:py-10 md:px-10 lg:px-20">
    <SingleGame client:load id={id as string} />
  </main>
</Layout>
