---
import Layout from "@layouts/Layout.astro";
import { SingleGame } from "@modules/games/components/SingleGame";

const { id } = Astro.params;
---

<Layout>
  <main class="h-full flex-grow flex items-center justify-center bg-gray-900 text-white">
    <SingleGame client:load id={parseInt(id as string)} />
  </main>
</Layout>
