---
import Layout from "@layouts/Layout.astro";
import { SingleGame } from "@modules/games/components/SingleGame";

const { id } = Astro.params;
---

<Layout>
  <main class="h-full flex-grow p-2 md:p-8 flex items-center justify-center">
    <SingleGame client:load id={parseInt(id as string)} />
  </main>
</Layout>
