---
import Layout from "@layouts/Layout.astro";
import { ListGames } from "@modules/games/components/ListGames";
---

<Layout>
  <main class="h-full flex-grow p-8">
    <h1 class="text-3xl font-bold text-center mb-8 border-b-3 rounded-b-sm border-purple-300 pb-1 m-auto max-w-2xl">
      Games
    </h1>
    <ListGames client:load />
  </main>
</Layout>
