---
import Layout from "@layouts/Layout.astro";
import { ListGames } from "@modules/games/components/ListGames";
import BackButton from "@components/BackButton.astro"; 
---

<Layout>
  <main class="h-full flex-grow bg-gray-900 relative">
    <BackButton className="absolute top-2.5 left-2.5" href="#" />
    <ListGames client:load />
  </main>
</Layout>
