---
// import DadosComponent from "@all-games/marketplace/dados/DadosComponent.astro";
import LayoutForGames from "@layouts/LayoutForGames.astro";
---

<LayoutForGames>
  <!-- <DadosComponent client:load /> -->
  <div>Dados game temporarily disabled</div>
</LayoutForGames>
