---
// import DoNotMakeComponent from "@all-games/marketplace/do-not-make/doNotMakeComponent.astro";
import LayoutForGames from "@layouts/LayoutForGames.astro";
---

<LayoutForGames>
  <!-- <DoNotMakeComponent client:load /> -->
  <div>Do Not Make game temporarily disabled</div>
</LayoutForGames>